.MND-001-Abir .frequentlyWrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MND-001-Abir .frequentlyWrapper {
    padding-bottom: 30px;
}

.MND-001-Abir .content {
    display: flex;
    border-bottom: solid thin #ECECEC;
    background: #fff;
    padding: 30px 0;
    gap: 15px;
}

.MND-001-Abir .content .price-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    white-space: nowrap;
}

.MND-001-Abir .content .price-details a {
    padding: 10px 28px;
    border-radius: 40px;
    border: 1px solid #222327;
    font-weight: 400;
    font-size: 15px;
    line-height: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #222327;
    transition: all .2s cubic-bezier(.335, .62, .605, .97)
}

.MND-001-Abir .content .price-details a:hover {
    background: #3a3a3a;
    color: white;
}

.MND-001-Abir .content h6,
.MND-001-Abir .content p {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #222327;
}

.MND-001-Abir .content p {
    font-weight: 400;
}

.MND-001-Abir .content .image-wrapper {
    width: 90px;
}

.MND-001-Abir .content .image-wrapper img {
    width: 90px;
    height: 90px;
}

.MND-001-Abir .variant-container {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.MND-001-Abir .variant-container .variant-text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #666666;
    text-transform: lowercase;
    padding-bottom: 2px;
}

.MND-001-Abir .variant-container .variants-wrapper .single-variant {
    padding-bottom: 10px;
}

.MND-001-Abir .variant-container select {
    border: 1px solid #E8E8E8;
    outline: none;
    border-radius: 5px;
    padding: 5px 12px;
    min-width: 175px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("https://i.ibb.co/GtwFTw0/Polygon-1.png");
    background-repeat: no-repeat;
    background-position: center right 12px;
}

.MND-001-Abir .view-product-details {
    border: none;
    background: none;
    border-bottom: 1px solid #646464;
    outline: none;
    padding: 5px 0;
    font-style: normal;
    font-weight: 400;
    width: fit-content;
    font-size: 15px;
    line-height: 14px;
    white-space: nowrap;
    letter-spacing: 0.5px;
    color: #222327;
}

/*pdp modal*/
.MND-001-Abir .view-details-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15001;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    overflow-y: hidden;
    transition: opacity .3s ease-in-out, visibility .3s ease-in-out;


}

.MND-001-Abir .view-details-wrapper.modal-hidden {
    /*display: none;*/

}

.MND-001-Abir.on-overlay {
    overflow: hidden;
}